$base_color: linear-gradient(to bottom right, whitesmoke, gray);
$main_color: linear-gradient(to bottom right, white, gainsboro);
$text_color: #000;
$error_message_color: red;
$hovered_color: gold;

$border_style: $text_color solid 1px;
$bottom_border_style: $text_color solid 2px;

$header_font_family: "Zen Antique";
$header_font_style: italic;
$serif_font_family: "Zen Old Mincho";
$sansserif_font_family: "Zen Kaku Gothic New";