@import "_general.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $base_color;
    min-height: 100vh;
    text-align: center;

    header {
        color: $text_color;
    }

    h1,
    h2 {
        padding-top: 1%;
        padding-bottom: 1%;
        font-family: $header_font_family;
        font-style: $header_font_style;
        text-align: center;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        border-bottom: $bottom-border_style;
    }

    header {
        background: $main_color;
        border-bottom: $bottom-border_style;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;

        width: 100%;
    }

    .contents {
        display: grid;
        grid-template-columns: 80% 20%;

        article {
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            font-family: $serif_font_family;

            h1 {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                background: $main_color;
                font-size: 2.5em;
                border: $border_style;
            }

            form {
                margin: 5% auto;
                width: 90%;
                background-color: white;
                border: $border_style;
                font-size: 1.5em;

                table {
                    margin: 5% auto;
                    width: 90%;
                    border: $border_style;
                    border-collapse: collapse;

                    th,
                    td {
                        border: $border_style;
                    }

                    th {
                        background: $base_color;
                    }

                    td {
                        width: 70%;
                        font-family: $sansserif_font_family;
                    }

                    input,
                    textarea {
                        width: 100%;
                    }

                    textarea {
                        height: 5em;
                    }
                }

                button {
                    margin-bottom: 5%;
                    padding: 1%;
                    background-color: white;
                    border: $border_style;
                    border-radius: 10%;
                }

                button:hover {
                    background-color: $text_color;
                    color: white;
                }

                .preview {
                    max-width: 75%;
                    border: $border_style;
                }
            }

            .my_work {
                margin: 5% auto;
                background: white;
                border: $border_style;

                a {
                    color: $text_color;
                    text-decoration: none;
                }

                figure {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    gap: 5%;
                    border-bottom: $bottom-border_style;

                    img {
                        // margin: 5%;
                        margin: auto 5%;
                        width: 100%;
                        border: $border_style;
                    }

                    figcaption {
                        .outline {
                            width: 30em;
                            height: 7.5em;
                            text-align: left;
                        }
                    }
                }

                .appendix {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                    font-size: 0.9em;

                    .edit {
                        margin-left: 3%;
                        text-align: left;
                    }

                    .url {
                        margin-left: 3%;
                        text-align: center;
                        white-space: nowrap;
                    }

                    .created {
                        margin-right: 3%;
                        text-align: right;
                    }
                }
            }

            .my_work:hover {
                background-color: $text_color;
                color: $hovered_color;

                a {
                    color: $hovered_color;

                    h2,
                    figure {
                        border-color: $hovered_color;
                    }
                }
            }

            .detail {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5%;
                margin: 5% auto;
                background: white;
                border: $border_style;

                img {
                    // margin: 5%;
                    margin: 1% 2%;
                    width: 100%;
                    border: $border_style;
                }

                figcaption {
                    .explaination {
                        // width: 30em;
                        // height: 5em;
                        text-align: left;
                    }
                }
            }

            .error_message {
                color: $error_message_color;
            }
        }

        aside {
            padding: 1%;
            background-color: white;
            border: $border_style;
            text-align: center;
            line-height: 2em;

            position: fixed;
            z-index: 900;
            top: 20%;
            right: 5%;

            font-family: $sansserif_font_family;
        }
    }
}