body {
    font-family: "BIZ UDPMincho";

    header {
        font-family: "Zen Antique";
        font-style: italic;

        h1 {
            font-size: 3em;
        }

        nav {
            font-size: 2em;
        }
    }

    .page_title {
        font-size: 2.5em;
        font-family: "Zen Antique";
    }
}