body {
    font-family: "BIZ UDPMincho";

    h1 {
        font-family: "Zen Antique";
    }

    .material-symbols-outlined {
        font-size: 1em;
    }

    header {
        font-family: "Zen Antique";

        h1 {
            font-size: 2em;
            font-style: italic;
        }

        nav {
            font-size: 1.5em;
        }
    }

    .heading:hover {
        font-family: "Zen Antique";
    }

    .md {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "BIZ UDPGothic";
        }
    }

    .word_search {
        font-size: 2em;
    }

    code {
        font-family: "Source Code Pro";
    }
}