body {
    font-family: "BIZ UDPMincho";

    .material-symbols-outlined {
        font-size: 1em;
    }

    header {
        h1 {
            font-style: italic;
        }

        nav {
            font-size: 1.5em;
        }
    }

    .heading,
    .work {
        h2 {
            font-weight: normal;
        }
    }

    .heading:hover,
    .work:hover {
        h2 {
            font-weight: bold;
        }
    }

    .word_search {
        font-size: 2em;
    }

    code {
        font-family: "Cascadia Code", "Consolas", "Lucida Console", monospace;
    }
}