@import url(./colors.css);
@import url(./fonts.css);

body {
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    li {
        list-style: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;

        nav {
            place-content: center;

            ul {
                display: grid;
                place-items: center;
                grid-template-columns: repeat(3, 1fr);

                li {
                    text-align: center;
                }
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        background: linear-gradient(white, var(--shironeri));

        article {
            .article {
                display: grid;
                place-items: center;
                grid-template-columns: 1fr 2fr;

                img {
                    width: 75%;
                    aspect-ratio: 16/9;
                }
            }

            .works {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .work {
                    display: grid;
                    grid-template-rows: 3fr 1fr;
                    border-radius: 2.5vw;
                    place-items: center;

                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 16/9;
                    }
                }
            }

            .md {

                pre {
                    code {
                        border: var(--nezumi) solid 3px;
                        border-radius: 2.5vw;
                    }
                }

                img {
                    display: block;
                    text-align: center;
                    width: 75%;
                }
            }
        }

        aside {
            text-align: center;

            .search {
                position: sticky;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;

                .word_search {
                    display: grid;
                    grid-auto-flow: column;

                    input {
                        border-radius: 2.5vw;
                    }
                }

                .tag_search {
                    a {
                        float: left;
                        border-radius: 2.5vw;
                    }
                }
            }
        }
    }

    footer {
        ul {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}