body {
    margin: 0;
    font-family: "BIZ UDPMincho";

    h1 {
        text-align: center;
        font-family: "Zen Antique";
        font-style: italic;
    }

    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: black solid 5px;

        h1 {
            font-size: 3em;
        }

        nav {
            place-content: center;
            font-family: "Zen Antique";
            /* font-style: italic; */

            ul {
                display: grid;
                place-items: center;
                grid-template-columns: repeat(3, 1fr);

                li {
                    text-align: center;
                    list-style: none;
                }
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1fr;

        article {
            margin: 5%;

            .article {
                display: grid;
                place-items: center;
                grid-template-columns: 1fr 3fr;

                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                }
            }

            .works {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .work {
                    display: grid;
                    grid-template-rows: 2fr 1fr;

                    img {
                        width: 100%;
                        aspect-ratio: 16/9;
                    }
                }
            }

            .md {
                font-family: "BIZ UDPMincho";

                pre {
                    code {
                        font-family: "Source Code Pro";
                    }
                }

                img {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    width: 75%;
                }
            }
        }

        aside {
            text-align: center;

            .tag_search {
                display: inline-block;
            }
        }
    }
}